 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/86e70e80972e697a5ead43a6c544b7686879ed5213867aee87cce1418828432b36db8fe15f552accc9bae6ef89b33e5a1d3590f22ae959d1c3abad_1280.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 172px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  margin: 52px 13px 60px -12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
    margin-left: -25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 385px;
  background-image: url("images/logo-color.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 385px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 317px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.578125rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.222222222222222rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    min-height: 230px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.1484375rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1141px;
}

.u-section-3 .u-image-1 {
  min-height: 862px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/christin-hume-0MoF-Fe0w0A-unsplash.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 100px 230px;
}

.u-section-3 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 897px;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 1141px;
  margin: -90px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(25% - 14.25px);
  grid-template-columns: repeat(4, calc(25% - 14.25px));
  min-height: 308px;
  --gap: 19px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 17px -30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.9375rem;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 17px -30px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.9375rem;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 17px -30px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.9375rem;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 17px -30px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 0.9375rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 986px;
  }

  .u-section-3 .u-image-1 {
    min-height: 669px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 200px;
  }

  .u-section-3 .u-text-1 {
    width: 740px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -83px;
    margin-bottom: 59px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 341px;
    grid-gap: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1215px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-1 {
    width: 660px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: -133px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.5px);
    grid-template-columns: repeat(2, calc(50% - 9.5px));
    min-height: 619px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    background-position: 38.86% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 230px;
  }

  .u-section-3 .u-text-1 {
    width: 520px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1534px;
  }

  .u-section-3 .u-image-1 {
    min-height: 614px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 295px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -131px;
    margin-bottom: 59px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 992px;
  }
} .u-section-4 {
  padding-left: 60px;
  padding-right: 60px;
  min-height: 943px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 257px;
  background-position: 50% 90.47%;
  background-repeat: no-repeat;
  background-image: url("images/DSC_4751.jpg");
  background-size: cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 516px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("images/DSC_4733.jpg");
  background-size: cover;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 516px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Arizonia;
  font-size: 4.6875rem;
  margin: 112px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 257px;
  background-position: 50% 85.68%;
  background-repeat: no-repeat;
  background-image: url("images/DSC_4754.jpg");
  background-size: cover;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 257px;
  background-position: 50% 81.95%;
  background-repeat: no-repeat;
  background-image: url("images/DSC_4757.jpg");
  background-size: cover;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 516px;
  background-position: 50% 80.86%;
  background-repeat: no-repeat;
  background-image: url("images/DSC_4761.jpg");
  background-size: cover;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 41px auto 49px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 807px;
  }

  .u-section-4 .u-image-1 {
    min-height: 212px;
  }

  .u-section-4 .u-image-2 {
    min-height: 426px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    min-height: 212px;
  }

  .u-section-4 .u-image-4 {
    min-height: 212px;
  }

  .u-section-4 .u-image-5 {
    min-height: 426px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2366px;
  }

  .u-section-4 .u-image-1 {
    min-height: 244px;
  }

  .u-section-4 .u-image-2 {
    min-height: 489px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 244px;
  }

  .u-section-4 .u-image-4 {
    min-height: 487px;
  }

  .u-section-4 .u-image-5 {
    min-height: 979px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 366px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 734px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.515625rem;
  }

  .u-section-4 .u-image-3 {
    min-height: 366px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 365px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 734px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1553px;
  }

  .u-section-4 .u-image-1 {
    min-height: 230px;
  }

  .u-section-4 .u-image-2 {
    min-height: 462px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.9296875rem;
  }

  .u-section-4 .u-image-3 {
    min-height: 230px;
  }

  .u-section-4 .u-image-4 {
    min-height: 230px;
  }

  .u-section-4 .u-image-5 {
    min-height: 462px;
  }
}